<div class="container-md">

    <form class="needs-validation" [formGroup]="recoverPassForm" (ngSubmit)="onSubmit()">
    
        <div class="row">
    
          <div class="col-12">
            <label for="username" class="form-label">Email</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" [ngClass]="email?.invalid && (email?.dirty || email?.touched) ? 'is-invalid' : ''" [ngClass]="email?.valid ? 'is-valid' : ''" id="email" placeholder="mi.email@gmail.com" formControlName="email">
            <div class="invalid-feedback">
                <div *ngIf="email?.hasError('required')">Email es obligatorio.</div>
                <div *ngIf="email?.hasError('email')">Email no tiene el formato correcto.</div>
              </div>
            </div>
          </div>

          <div class="w-100 btn-group btn-group-lg margin-top-30" role="group" aria-label="Large button group">
            <button type="button" class="btn btn-outline-primary" type="submit" [disabled]="recoverPassForm.invalid">Recuperar Contrasena</button>
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/login']">Ingresar</button>
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/registro']">Registrarse</button>
          </div>

        </div>
        
    </form>

</div>