<div class="container-md">

    <form class="needs-validation" [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
    
        <div class="row">
    
          <div class="col-12">
            <label for="password" class="form-label">Contraseña</label>
            <div class="input-group has-validation">
              <input type="password" class="form-control" [ngClass]="password?.invalid && (password?.dirty || password?.touched) ? 'is-invalid' : ''" [ngClass]="password?.valid ? 'is-valid' : ''" id="password" formControlName="password">
            <div class="invalid-feedback">
              <div *ngIf="password?.hasError('required')">Contraseña obligatorio.</div>
              <div *ngIf="password?.hasError('minlength') || password?.hasError('maxlength')">Debe tener entre 8 y 16 caracteres.</div>
              <div *ngIf="password?.hasError('passwordFromat')">La contraseña debe contener a lo menos una mayúscula, una minúscula, un número y un símbolo.</div>
            </div>
            </div>
          </div>
    
          <div class="col-12">
            <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
            <div class="input-group has-validation">
              <input type="password" class="form-control" 
                [ngClass]="(confirmPassword?.invalid || updatePasswordForm.hasError('notSamePassword') ) && (confirmPassword?.dirty || confirmPassword?.touched) ? 'is-invalid' : ''" 
                [ngClass]="confirmPassword?.valid ? 'is-valid' : ''" id="confirmPassword" formControlName="confirmPassword">
            <div class="invalid-feedback">
              <div *ngIf="confirmPassword?.hasError('required')">Confirmar Contraseña es obligatorio.</div>
              <div *ngIf="confirmPassword?.hasError('minlength') || confirmPassword?.hasError('maxlength')">Debe tener entre 8 y 16 caracteres.</div>
              <div *ngIf="confirmPassword?.hasError('passwordFromat')">La contraseña debe contener a lo menos una mayúscula, una minúscula, un número y un símbolo.</div>
              <div *ngIf="updatePasswordForm?.hasError('notSamePassword')">Las contraseñas no coinciden.</div>
            </div>
            </div>
          </div>
          
        </div>
    
        <button class="btn btn-primary btn-lg margin-top-10" type="submit" [disabled]="updatePasswordForm.invalid">Confirmar</button>
    
      </form>
    
    </div>