<div class="container-md margin-top-30">
    <h2>Listado de cartas</h2>
    <button class="btn btn-primary margin-top-10"  (click)="goToDetail()">Agregar carta</button>
    <hr>
    <div class="col-12">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Codigo de Set</th>
                    <th scope="col">Condicion</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let card of cardList">
                    <td>{{card.Id}}</td>
                    <td>{{card.CardName}}</td>
                    <td>{{card.SetCode}}</td>
                    <td>{{card.Condition}}</td>
                    <td>{{card.Quantity}}</td>
                    <td>{{card.Price| currency}}</td>
                    <td><button type="button" class="btn btn-outline-info" (click)="setSelecetedCard(card)">Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>