<div class="container-md">
    <ul class="nav nav-tabs" id="managementTab" role="tablist">
        <li class="nav-item" role="presentation">
        <button class="nav-link active" id="account-tab" data-bs-toggle="tab" data-bs-target="#account-tab-pane" type="button" role="tab" aria-controls="account-tab-pane" aria-selected="true">Cuenta</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="orders-tab" data-bs-toggle="tab" data-bs-target="#orders-tab-pane" type="button" role="tab" aria-controls="orders-tab-pane" aria-selected="false">Tus Ordenes</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="address-tab" data-bs-toggle="tab" data-bs-target="#address-tab-pane" type="button" role="tab" aria-controls="address-tab-pane" aria-selected="false">Tus Direcciones</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="manage-catalog-tab" data-bs-toggle="tab" data-bs-target="#manage-catalog-tab-pane" type="button" role="tab" aria-controls="manage-catalog-tab-pane" aria-selected="false">Administrar Catalogo</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="manage-orders-tab" data-bs-toggle="tab" data-bs-target="#manage-orders-tab-pane" type="button" role="tab" aria-controls="manage-orders-tab-pane" aria-selected="false">Administrar Ordenes</button>
        </li>
    </ul>
    <div class="tab-content" id="managementContent">
        <div class="tab-pane fade show active" id="account-tab-pane" role="tabpanel" aria-labelledby="account-tab" tabindex="0">1</div>
        <div class="tab-pane fade" id="orders-tab-pane" role="tabpanel" aria-labelledby="orders-tab" tabindex="0">2</div>
        <div class="tab-pane fade" id="address-tab-pane" role="tabpanel" aria-labelledby="address-tab" tabindex="0">3</div>
        <div class="tab-pane fade" id="manage-catalog-tab-pane" role="tabpanel" aria-labelledby="manage-catalog-tab" tabindex="0">4</div>
        <div class="tab-pane fade" id="manage-orders-tab-pane" role="tabpanel" aria-labelledby="manage-orders-tab" tabindex="0">5</div>
    </div>
</div> 