<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Carta</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let card of currentShoppingCart.CardList">
            <td><img class="rounded mx-auto d-block max-height-100" [src]="card.Image" alt="{{ card.CardName }}" *ngIf="showImage"></td>
            <td>{{card.CardName}}</td>
            <td>{{card.Price | currency}}</td>
            <td>{{card.Quantity}}</td>
            <td>{{card.Price * card.Quantity | currency}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>{{calcTotal(currentShoppingCart.CardList) | currency}}</td>
        </tr>
    </tbody>
