<div class="container-md w-100 h-100 p-3">
    <div class="mb-auto">
        
    </div>
  
    <div class="px-3 text text-center margin-top-30">

        <div class="margin-top-30" *ngIf="!isPaymentSuccess">
            <h2>Procesando pago</h2>
            <div class="spinner-border margin-top-30" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="margin-top-30" *ngIf="isPaymentSuccess">
            <h2>Pago realizado</h2>
            <p>redirigiendo al portal</p>
            <div class="spinner-border text-success margin-top-30" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

    </div>
  
    <div class="mt-auto text-white-50">
        
    </div>
</div>