<h2>Nueva Dirección</h2>
<form class="needs-validation" >
    <div class="row g-3">

      <div class="col-12">
        <label for="name" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="name" placeholder="" >
        <div class="invalid-feedback">
          
        </div>
      </div>

      <div class="col-md-5">
        <label for="region" class="form-label">Región</label>
        <input type="text" class="form-control" id="region" placeholder="" >
        <div class="invalid-feedback">
          
        </div>
      </div>

      <div class="col-md-5">
        <label for="commune" class="form-label">Comuna</label>
        <input type="text" class="form-control" id="commune" placeholder="" >
        <div class="invalid-feedback">
          
        </div>
      </div>

      <div class="col-md-2">
        <label for="number" class="form-label">Número</label>
        <input type="text" class="form-control" id="number" placeholder="" >
        <div class="invalid-feedback">
          
        </div>
      </div>
    </div>

    <button class="btn btn-primary btn-lg margin-top-30" type="submit">Agregar dirección</button>

</form>