<div class="container-md">

<form class="needs-validation" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

    <div class="row">

      <div class="col-12">
        <label for="username" class="form-label">Nombre de Usuario</label>
        <div class="input-group has-validation">
          <input type="text" class="form-control" [ngClass]="username?.invalid && (username?.dirty || username?.touched) ? 'is-invalid' : ''" [ngClass]="username?.valid ? 'is-valid' : ''" id="username" placeholder="Usuario" formControlName="username">
        <div class="invalid-feedback">
            <div *ngIf="username?.hasError('required')">Nombre de Usuario es obligatorio.</div>
            <div *ngIf="username?.hasError('minlength') || username?.hasError('maxlength')">Debe tener entre 5 y 20 caracteres.</div>
            <div *ngIf="username?.hasError('onlyLetters')">Solo puede contener letras.</div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <label for="password" class="form-label">Contraseña</label>
        <div class="input-group has-validation">
          <input type="password" class="form-control" [ngClass]="password?.invalid && (password?.dirty || password?.touched) ? 'is-invalid' : ''" [ngClass]="password?.valid ? 'is-valid' : ''" id="password" formControlName="password">
        <div class="invalid-feedback">
          <div *ngIf="password?.hasError('required')">Contraseña obligatorio.</div>
          <div *ngIf="password?.hasError('minlength') || password?.hasError('maxlength')">Debe tener entre 8 y 16 caracteres.</div>
          <div *ngIf="password?.hasError('passwordFromat')">La contraseña debe contener a lo menos una mayúscula, una minúscula, un número y un símbolo.</div>
        </div>
        </div>
      </div>

      <div class="col-12">
        <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
        <div class="input-group has-validation">
          <input type="password" class="form-control" [ngClass]="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched) ? 'is-invalid' : ''" [ngClass]="confirmPassword?.valid ? 'is-valid' : ''" id="confirmPassword" formControlName="confirmPassword">
        <div class="invalid-feedback">
          <div *ngIf="confirmPassword?.hasError('required')">Confirmar Contraseña es obligatorio.</div>
          <div *ngIf="confirmPassword?.hasError('minlength') || confirmPassword?.hasError('maxlength')">Debe tener entre 8 y 16 caracteres.</div>
          <div *ngIf="confirmPassword?.hasError('passwordFromat')">La contraseña debe contener a lo menos una mayúscula, una minúscula, un número y un símbolo.</div>
          <div *ngIf="registrationForm?.hasError('notSamePassword')">Las contraseñas no coinciden.</div>
        </div>
        </div>
      </div>

      <div class="col-sm-6">
        <label for="firstName" class="form-label">Nombre</label>
        <input type="text" class="form-control" [ngClass]="firstName?.invalid && (firstName?.dirty || firstName?.touched) ? 'is-invalid' : ''" [ngClass]="firstName?.valid ? 'is-valid' : ''" id="firstName" placeholder="" formControlName="firstName">
        <div class="invalid-feedback">
          <div *ngIf="firstName?.hasError('required')">Nombre es obligatorio.</div>
          <div *ngIf="firstName?.hasError('minlength') || firstName?.hasError('maxlength')">Debe tener entre 5 y 50 caracteres.</div>
          <div *ngIf="firstName?.hasError('onlyLetters')">Solo puede contener letras.</div>
        </div>
      </div>

      <div class="col-sm-6">
        <label for="lastName" class="form-label">Apellido</label>
        <input type="text" class="form-control" [ngClass]="lastName?.invalid && (lastName?.dirty || lastName?.touched) ? 'is-invalid' : ''" [ngClass]="lastName?.valid ? 'is-valid' : ''" id="lastName" placeholder="" formControlName="lastName" >
        <div class="invalid-feedback">
          <div *ngIf="lastName?.hasError('required')">Apellido es obligatorio.</div>
          <div *ngIf="lastName?.hasError('minlength') || lastName?.hasError('maxlength')">Debe tener entre 5 y 50 caracteres.</div>
          <div *ngIf="lastName?.hasError('onlyLetters')">Solo puede contener letras.</div>
        </div>
      </div>

      <div class="col-12">
        <label for="email" class="form-label">Email <span class="text-body-secondary"></span></label>
        <input type="email" class="form-control" id="email" [ngClass]="email?.invalid && (email?.dirty || email?.touched) ? 'is-invalid' : ''" [ngClass]="email?.valid ? 'is-valid' : ''" placeholder="you@example.com" formControlName="email">
        <div class="invalid-feedback">
          <div *ngIf="email?.hasError('required')">Apellido es obligatorio.</div>
          <div *ngIf="email?.hasError('email')">Formato de email no válido.</div>
        </div>
      </div>
      
    </div>

    <button class="w-100 btn btn-primary btn-lg margin-top-10" type="submit">Registrarse</button>

  </form>

</div>