<div class="container-md margin-top-30">
    <app-address-create></app-address-create>
    <hr>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Dirección</th>
                <th scope="col">Número</th>
                <th scope="col">Región</th>
                <th scope="col">Comuna</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let address of userAddressList">
                <td>{{address.Name}}</td>
                <td>{{address.Number}}</td>
                <td>{{address.Region}}</td>
                <td>{{address.Commune}}</td>
            </tr>
        </tbody>
    </table>

</div>