<div class="container-md">

    <form class="needs-validation" [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    
        <div class="row">

          <hr class="margin-top-10">
    
          <div class="col-12">
            <label for="CardName" class="form-label">Nombre de carta</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" 
                [ngClass]="CardName?.invalid && (CardName?.dirty || CardName?.touched) ? 'is-invalid' : ''" 
                [ngClass]="CardName?.valid ? 'is-valid' : ''" id="CardName" formControlName="CardName">
            <div class="invalid-feedback">
                <div *ngIf="CardName?.hasError('required')">Nombre de carta es obligatorio.</div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <label for="SetName" class="form-label">Nombre de set</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" 
                [ngClass]="SetName?.invalid && (SetName?.dirty || SetName?.touched) ? 'is-invalid' : ''" 
                [ngClass]="SetName?.valid ? 'is-valid' : ''" id="SetName" formControlName="SetName">
            <div class="invalid-feedback">
                <div *ngIf="SetName?.hasError('required')">Nombre de set es obligatorio.</div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="SetCode" class="form-label">Codigo de set</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" 
                [ngClass]="SetCode?.invalid && (SetCode?.dirty || SetCode?.touched) ? 'is-invalid' : ''" 
                [ngClass]="SetCode?.valid ? 'is-valid' : ''" id="SetCode" formControlName="SetCode">
            <div class="invalid-feedback">
                <div *ngIf="SetCode?.hasError('required')">Codigo de set es obligatorio.</div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="CardNumber" class="form-label">Número de carta</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" 
                [ngClass]="CardNumber?.invalid && (CardNumber?.dirty || CardNumber?.touched) ? 'is-invalid' : ''" 
                [ngClass]="CardNumber?.valid ? 'is-valid' : ''" id="CardNumber" formControlName="CardNumber">
            <div class="invalid-feedback">
                <div *ngIf="CardNumber?.hasError('required')">Número de carta es obligatorio.</div>
                <div *ngIf="CardNumber?.hasError('onlyNumbers')">Solo puede contener números.</div>
              </div>
            </div>
          </div>

          <hr class="margin-top-10">

          <div class="col-sm-4">
            <label for="Condition" class="form-label">Condicion de carta</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" 
                [ngClass]="Condition?.invalid && (Condition?.dirty || Condition?.touched) ? 'is-invalid' : ''" 
                [ngClass]="Condition?.valid ? 'is-valid' : ''" id="Condition" formControlName="Condition">
            <div class="invalid-feedback">
                <div *ngIf="Condition?.hasError('required')">Condicion de carta es obligatorio.</div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <label for="Price" class="form-label">Precio</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" 
                [ngClass]="Price?.invalid && (Price?.dirty || Price?.touched) ? 'is-invalid' : ''" 
                [ngClass]="Price?.valid ? 'is-valid' : ''" id="Price" formControlName="Price">
            <div class="invalid-feedback">
                <div *ngIf="Price?.hasError('required')">Precio es obligatorio.</div>
                <div *ngIf="Price?.hasError('onlyNumbers')">Solo puede contener números.</div>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <label for="Quantity" class="form-label">Cantidad</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" 
                [ngClass]="Quantity?.invalid && (Quantity?.dirty || Quantity?.touched) ? 'is-invalid' : ''" 
                [ngClass]="Quantity?.valid ? 'is-valid' : ''" id="Quantity" formControlName="Quantity">
            <div class="invalid-feedback">
                <div *ngIf="Quantity?.hasError('required')">Cantidad es obligatorio.</div>
                <div *ngIf="Quantity?.hasError('onlyNumbers')">Solo puede contener números.</div>
              </div>
            </div>
          </div>

          <hr class="margin-top-10">

          <div class="col-12">
            <label for="Image" class="form-label">Imagen</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" 
                [ngClass]="Image?.invalid && (Image?.dirty || Image?.touched) ? 'is-invalid' : ''" 
                [ngClass]="Image?.valid ? 'is-valid' : ''" id="Image" formControlName="Image">
            <div class="invalid-feedback">
                <div *ngIf="Image?.hasError('required')">Imagen es obligatorio.</div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="CardType" class="form-label">Tipo de carta</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" 
                [ngClass]="CardType?.invalid && (CardType?.dirty || CardType?.touched) ? 'is-invalid' : ''" 
                [ngClass]="CardType?.valid ? 'is-valid' : ''" id="CardType" formControlName="CardType">
            <div class="invalid-feedback">
                <div *ngIf="CardType?.hasError('required')">Tipo de carta es obligatorio.</div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="ManaValue" class="form-label">Valor de Mana</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" 
                [ngClass]="ManaValue?.invalid && (ManaValue?.dirty || ManaValue?.touched) ? 'is-invalid' : ''" 
                [ngClass]="ManaValue?.valid ? 'is-valid' : ''" id="ManaValue" formControlName="ManaValue">
            <div class="invalid-feedback">
                <div *ngIf="ManaValue?.hasError('required')">Valor de Mana es obligatorio.</div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <label for="CardText" class="form-label">Texto de carta</label>
            <div class="input-group has-validation">
              <input type="text" class="form-control" 
                [ngClass]="CardText?.invalid && (CardText?.dirty || CardText?.touched) ? 'is-invalid' : ''" 
                [ngClass]="CardText?.valid ? 'is-valid' : ''" id="CardText" formControlName="CardText">
            <div class="invalid-feedback">
                <div *ngIf="CardText?.hasError('required')">Texto de carta es obligatorio.</div>
              </div>
            </div>
          </div>

          <hr class="margin-top-10">

          <div class="btn-group margin-top-10" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/cuenta']">Volver</button>
            <button type="button" class="btn btn-outline-primary" type="submit" [disabled]="cardForm.invalid">{{submitText}}</button>
          </div>

        </div>
        
    </form>

</div>